<app-header></app-header>
    <div ngClass="about-words">
        <p ngClass="about-line1">Let me introduce myself</p>
        <div ngClass="about-description">
            <p ngClass="para1">Mission-driven full stack developer with a passion 
                for building a product that solves problem with 
                thoughtful UI design, creating intuitive, 
                dynamic user experiences powered by strong backend.</p>
            <p ngClass="para2">My core competency lies in creating applications from 
                its inception.I primarily work in MERN stack among 
                the full stack technologies.</p>
            <p ngClass="para3">As a full stack developer, I enjoy using my obsessive 
                attention to detail, my unequivocal love for making 
                things, and my mission-driven work ethic to literally 
                change the world.</p>
        </div>
    </div>