<app-header></app-header>
    <div ngClass="projects-container">
        <div ngClass="project-inside-container">
            <div ngClass="project-outsidebox">
                <p ngClass="project-title">ScreenRecorder Website</p>
                <p ngClass="project-description">A Screenrecording website which is used to record our screen in desktops and laptops.</p>
                <p ngClass="tech">Technologies used:</p>
                <div ngClass="iconsdiv">
                    <img src="{{htmlIcon}}" alt="html"/>
                    <img src="{{cssIcon}}" alt="css"/>
                    <img src="{{jsIcon}}" alt="js"/>
                    <img src="{{reactIcon}}" alt="react"/>
                    <img src="{{nodeIcon}}" alt="node"/>
                    <img src="{{mongoDBIcon}}" alt="mongodb"/>
                    <img src="{{awsIcon}}" alt="aws"/>
                </div>
            </div>
        </div>
        <div ngClass="project-inside-container">
            <div ngClass="project-outsidebox">
                    <p ngClass="project-title">Socket.io App</p>
                    <p ngClass="project-description">An socket.io app used to chat with your friends in group chat. </p>
                    <p ngClass="tech">Technologies used:</p>
                    <div ngClass="iconsdiv">
                        <img src="{{htmlIcon}}" alt="html"/>
                    <img src="{{cssIcon}}" alt="css"/>
                    <img src="{{jsIcon}}" alt="js"/>
                    <img src="{{reactIcon}}" alt="react"/>
                    <img src="{{nodeIcon}}" alt="node"/>
                    </div>
            </div>
        </div>
        <div ngClass="project-inside-container">
            <div ngClass="project-outsidebox">
                    <p ngClass="project-title">Employee Management</p>
                    <p ngClass="project-description">A website which is used to manage attendance and leave records of employees</p>
                    <p ngClass="tech">Technologies used:</p>
                    <div ngClass="iconsdiv">
                        <img src="{{htmlIcon}}" alt="html"/>
                    <img src="{{cssIcon}}" alt="css"/>
                    <img src="{{jsIcon}}" alt="js"/>
                    <img src="{{reactIcon}}" alt="react"/>
                    <img src="{{nodeIcon}}" alt="node"/>
                    <img src="{{mongoDBIcon}}" alt="mongodb"/>
                    </div>
            </div>
        </div>
        <div ngClass="project-inside-container">
            <div ngClass="project-outsidebox">
                    <p ngClass="project-title">Diary Website</p>
                    <p ngClass="project-description">A website which is used to set upcoming events </p>
                    <p ngClass="tech">Technologies used:</p>
                    <div ngClass="iconsdiv">
                        <img src="{{htmlIcon}}" alt="html"/>
                        <img src="{{cssIcon}}" alt="css"/>
                        <img src="{{jsIcon}}" alt="js"/>
                        <img src="{{reactIcon}}" alt="react"/>
                        <img src="{{nodeIcon}}" alt="node"/>
                        <img src="{{mongoDBIcon}}" alt="mongodb"/>
                    </div>
            </div>
        </div>
        <div ngClass="project-inside-container">
            <div ngClass="project-outsidebox">
                    <p ngClass="project-title">Anime Series Searcher</p>
                    <p ngClass="project-description">An Frontend website which is used to fetch the anime series info</p>
                    <p ngClass="tech">Technologies used:</p>
                    <div ngClass="iconsdiv">
                        <img src="{{htmlIcon}}" alt="html"/>
                        <img src="{{cssIcon}}" alt="css"/>
                        <img src="{{jsIcon}}" alt="js"/>
                    </div>
            </div>
        </div>
    </div>