<app-header></app-header>
    <div ngClass="container">
        <div ngClass="image-container">
            <img src="{{developer}}" ngClass="developer-image" alt="Developer Illustration"/>
        </div>
        <div ngClass="profile-container">
                <div ngClass="profile-container-info" id="profile-animate1">
                    <div ngClass="profile-container-innerbox" >
                        <img src="{{profile}}" alt="profile" ngClass="profile-page-icon"/> 
                        <p>Name</p>
                    </div>
                        <p>Saranraj S</p>
                </div>
                <div ngClass="profile-container-info" id="profile-animate2">
                    <div ngClass="profile-container-innerbox">
                        <img src="{{email}}" alt="email" ngClass="profile-page-icon"/> 
                        <p>Email</p>
                    </div>
                        <a href="mailto:saranraj21sr@gmail.com">saranraj21sr@gmail.com</a> 
                </div>
                <div ngClass="profile-container-info" id="profile-animate3">
                    <div ngClass="profile-container-innerbox">
                        <img src="{{phone}}" alt="phone" ngClass="profile-page-icon"/> 
                        <p>Contact</p>
                    </div>
                        <a href="tel:+919941448535">9941448535</a>
                </div>
                <div ngClass="profile-container-info" id="profile-animate4">
                    <div ngClass="profile-container-innerbox">
                        <img src="{{location}}" alt="location" ngClass="profile-page-icon"/> 
                        <p>Location</p>
                    </div>
                        <p>Chennai,India</p>
                </div>
                <div ngClass="profile-container-info" id="profile-animate5">
                    <div ngClass="profile-container-innerbox">
                        <img src="{{github}}" alt="github" ngClass="profile-page-icon"/> 
                        <p>Github</p>
                    </div>
                        <a href="https://github.com/Saran21raj" target="_blank"  rel="noopener noreferrer">@Saran21raj</a>
                </div>
                <div ngClass="profile-container-info" id="profile-animate6">
                    <div ngClass="profile-container-innerbox">
                        <img src="{{linkedin}}" alt="linkedin" ngClass="profile-page-icon"/> 
                        <p>Linkedin</p>
                    </div>
                        <a href="https://www.linkedin.com/in/saranraj-s-93820819b" target="_blank" rel="noopener noreferrer">Saranraj S</a>
                </div>
            </div>
    </div>