<app-header></app-header>
    <div ngClass="skills-main-container">
        <div ngClass="heading-container">
            <h1>Skills</h1>
        </div>
        <div ngClass="skills-container">
            <div ngClass="coding-love">
                <div ngClass="skill-name">
                    <h3>♥ Love for Programming - Advanced</h3>
                </div>
                <div ngClass="skill-progressbar">
                    <div ngClass="advanced">
                    </div>
                </div>
            </div>
            <div ngClass="skill">
                <div ngClass="skill-name">
                    <h3>Javascript - Intermediate</h3>
                </div>
                <div ngClass="skill-progressbar">
                    <div ngClass="intermediate">
                    </div>
                </div>
            </div>
            <div ngClass="skill">
                <div ngClass="skill-name">
                    <h3>C Programming - Intermediate</h3>
                </div>
                <div ngClass="skill-progressbar">
                    <div ngClass="intermediate">
                    </div>
                </div>
            </div>
            <div ngClass="skill">
                <div ngClass="skill-name">
                    <h3>HTML5 - Intermediate</h3>
                </div>
                <div ngClass="skill-progressbar">
                    <div ngClass="intermediate">
                    </div>
                </div>
            </div>
            <div ngClass="skill">
                <div ngClass="skill-name">
                    <h3>CSS3 - Intermediate</h3>
                </div>
                <div ngClass="skill-progressbar">
                    <div ngClass="intermediate">
                    </div>
                </div>
            </div>
            <div ngClass="skill">
                <div ngClass="skill-name">
                    <h3>MYSQL - Intermediate</h3>
                </div>
                <div ngClass="skill-progressbar">
                    <div ngClass="intermediate">
                    </div>
                </div>
            </div>
            <div ngClass="skill">
                <div ngClass="skill-name">
                    <h3>MongoDB - Intermediate</h3>
                </div>
                <div ngClass="skill-progressbar">
                    <div ngClass="intermediate">
                    </div>
                </div>
            </div>
            <div ngClass="skill">
                <div ngClass="skill-name">
                    <h3>Express.js - Intermediate</h3>
                </div>
                <div ngClass="skill-progressbar">
                    <div ngClass="intermediate">
                    </div>
                </div>
            </div>
            <div ngClass="skill">
                <div ngClass="skill-name">
                    <h3>Node.js - Intermediate</h3>
                </div>
                <div ngClass="skill-progressbar">
                    <div ngClass="intermediate">
                    </div>
                </div>
            </div>
            <div ngClass="skill">
                <div ngClass="skill-name">
                    <h3>React.js - Intermediate</h3>
                </div>
                <div ngClass="skill-progressbar">
                    <div ngClass="intermediate">
                    </div>
                </div>
            </div>
            <div ngClass="skill">
                <div ngClass="skill-name">
                    <h3>Bootstrap - Advanced</h3>
                </div>
                <div ngClass="skill-progressbar">
                    <div ngClass="advanced">
                    </div>
                </div>
            </div>
            <div ngClass="skill1">
                <div ngClass="skill-name">
                    <h3>Android Application Development - Intermediate</h3>
                </div>
                <div ngClass="skill-progressbar">
                    <div ngClass="intermediate">
                    </div>
                </div>
            </div>
        </div>
    </div>