<app-header></app-header>
        <div ngClass="outerContainer">
            <div ngClass="innerContainer-words">
                <div ngClass="words">
                    <p ngClass="first-line">Hi</p>
                    <p>I am</p>
                    <p>Saranraj</p>
                    <p>FullStack Developer</p>
                </div>
                <a href="https://drive.google.com/file/d/1k72s7UN2QYxjQGB0cF9hK3VnZ_etGgMa/view?usp=sharing" target="_blank" rel="noopener noreferrer"><button ngClass="resume">Get Resume</button></a>
            </div>
            <div ngClass="innerContainer-image">
                <img src="{{imageSrc}}" ngClass="image" alt="Developer Illustration"/>
            </div>
        </div>